.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #e9e9e9;
  text-align: center;
  padding-top: 20px;
}

.card {
  position: flex;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: #ffffff; /* רקע הכרטיס */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #333; /* צבע טקסט כהה */
  margin-top: 10px;
  border-radius: 8px; /* עיגול פינות */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.popupCard {
  padding: 20px;
  max-width: 300px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: #333 !important; /* צבע טקסט כהה לוודא ניגודיות */
}

.hallList {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

.hallItem {
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: center;
  color: #333 !important; /* שימוש ב-!important */
  cursor: pointer;
}

.input {
  margin-top: 10px;
  width: 100%;
}

